---
http_interactions:
- request:
    method: get
    uri: http://services.my511.org/Transit2.0/GetNextDeparturesByStopName.aspx?agencyName=Caltrain&stopName=Mountain%20View%20Caltrain%20Station
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<RTT>\r\n<AgencyList>\r\n<Agency Name=\"Caltrain\" HasDirection=\"True\"
        Mode=\"Rail\">\r\n<RouteList>\r\n<Route Name=\"BABY BULLET\" Code=\"BABY BULLET\">\r\n<RouteDirectionList>\r\n<RouteDirection
        Code=\"NB\" Name=\"NORTHBOUND TO SAN FRANCISCO\">\r\n<StopList>\r\n<Stop name=\"Mountain
        View Caltrain Station\" StopCode=\"70211\">\r\n<DepartureTimeList />\r\n</Stop>\r\n\r\n</StopList>\r\n</RouteDirection>\r\n\r\n<RouteDirection
        Code=\"SB1\" Name=\"SOUTHBOUND TO SAN JOSE DIRIDON\">\r\n<StopList>\r\n<Stop
        name=\"Mountain View Caltrain Station\" StopCode=\"70212\">\r\n<DepartureTimeList
        />\r\n</Stop>\r\n\r\n</StopList>\r\n</RouteDirection>\r\n\r\n</RouteDirectionList>\r\n</Route>\r\n\r\n<Route
        Name=\"LIMITED\" Code=\"LIMITED\">\r\n<RouteDirectionList>\r\n<RouteDirection
        Code=\"NB\" Name=\"NORTHBOUND TO SAN [...]
