---
http_interactions:
- request:
    method: get
    uri: http://services.my511.org/Transit2.0/GetStopsForRoutes.aspx?routeIdf=Caltrain~LOCAL~NB%7CCaltrain~LOCAL~SB1%7CCaltrain~LOCAL~SB2%7CCaltrain~LOCAL~SB3%7CCaltrain~LIMITED~NB%7CCaltrain~LIMITED~SB1%7CCaltrain~LIMITED~SB2%7CCaltrain~LIMITED~SB3%7CCaltrain~BABY%20BULLET~NB%7CCaltrain~BABY%20BULLET~SB1%7CCaltrain~BABY%20BULLET~SB2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml; charset=utf-8
    body:
      encoding: UTF-8
      string: "<RTT>\r\n<AgencyList>\r\n<Agency Name=\"Caltrain\" HasDirection=\"True\"
        Mode=\"Rail\">\r\n<RouteList>\r\n<Route Name=\"LOCAL\" Code=\"LOCAL\">\r\n<RouteDirectionList>\r\n<RouteDirection
        Code=\"NB\" Name=\"NORTHBOUND TO SAN FRANCISCO\">\r\n<StopList>\r\n<Stop name=\"San
        Francisco Caltrain Station\" StopCode=\"70011\">\r\n</Stop>\r\n\r\n<Stop name=\"22nd
        Street Caltrain Station\" StopCode=\"70021\">\r\n</Stop>\r\n\r\n<Stop name=\"Bayshore
        Caltrain Station\" StopCode=\"70031\">\r\n</Stop>\r\n\r\n<Stop name=\"So San
        Francisco Caltrain Station\" StopCode=\"70041\">\r\n</Stop>\r\n\r\n<Stop name=\"San
        Bruno Caltrain Station\" StopCode=\"70051\">\r\n</Stop>\r\n\r\n<Stop name=\"Millbrae
        Caltrain Station\" StopC[...]
